* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a, button {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

ul, ol {
  list-style-type: none;
}

button:focus {
  outline: 0;
}

.header {
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  position: relative;
}

.header__img {
  max-width: 40px;
  max-height: 40px;
}

.header__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

@media (min-width: 768px) {
  .header__nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.grid {
  display: grid;
  gap: 1rem;
}

.grid--col_4 {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .grid--col_3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--col_4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .grid--col_2 {
    grid-template-columns: 1fr 1fr;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__inner {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.page__bg_theme::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(120, 88, 221, 0.8);
  z-index: -1;
}

.page__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 576px) {
  .page__inner {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .page__inner {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .page__inner {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .page__inner {
    max-width: 1140px;
  }
}
.bar-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 16px;
  width: 30px;
}
.bar-btn__line {
  position: absolute;
  height: 3px;
  border-radius: 10px;
  width: 100%;
  display: block;
  background-color: #fff;
}
.bar-btn__line:first-child {
  top: 0;
}
.bar-btn__line:nth-child(2) {
  top: 50%;
}
.bar-btn__line:last-child {
  top: 100%;
}
@media (min-width: 768px) {
  .bar-btn {
    display: none;
  }
}

.navbar {
  background-color: transparent;
}

.navbar--center {
  text-align: center;
}

.navbar__link {
  display: block;
  padding: .5rem;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

.banner {
  background: url(../../img/header-background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100vh;
  text-align: center;
}
.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
}
.banner__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.banner__subtitle {
  display: inline-block;
}
.banner__skills {
  margin: 1.5rem 0;
}
.banner__skills_line {
  margin: .5rem;
  font-size: .9rem;
  font-weight: bold;
}
.banner__link {
  margin-top: 1rem;
  background-color: #fff;
  color: #7858dd;
}
.banner__network {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.network__link {
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.network__link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.title {
  text-align: center;
}
.title__main {
  font-size: 2rem;
  text-transform: uppercase;
}
.title__text {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.title--text_white {
  color: #fff;
}

.about__img {
  text-align: center;
}
.about__content {
  padding-top: 2rem;
}
.about__text {
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}
.about__self {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  border-top: 1px dashed #cec7c7;
}
.about__person {
  display: inline-block;
  margin-top: .2rem;
  margin-bottom: .2rem;
  margin-right: .5rem;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: .9rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.btn--size_sm {
  padding: .5rem 1rem;
}

.btn--size_md {
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn--text_primary {
  color: #7858dd;
}

.btn--text_white {
  color: #fff;
}

.btn--bg_primary {
  background-color: #7858dd;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.7);
}

.btn__hover:hover {
  background-color: #7858dd;
  border-color: #7858dd;
  color: #fff;
}

.skill {
  background: url(../../img/skill-background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.box {
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #6e6e6e;
          box-shadow: 0 0 10px #6e6e6e;
}

.box__title {
  text-transform: uppercase;
  font-size: .9rem;
  margin-top: 1rem;
}

.box__text {
  line-height: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.box__progress {
  margin-top: 1rem;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #ddd;
}

.box__porcent {
  display: block;
  width: 80%;
  height: 8px;
  border-radius: 5px;
  background-color: #ffac1b;
}

.box__porcent--bg_primary {
  background-color: #7fb7fa;
}

.box__porcent--bg_secondary {
  background-color: #c99aff;
}

.client {
  background: url(../../img/overview-background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.client__text {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.gallery {
  margin-top: 4rem;
}

.gallery__img {
  max-width: 100%;
}
