.navbar {
  &--center {
    text-align: center;
  }
  
  &__link {
    display: block;
    padding: .5rem;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;

    &:hover {
      background-color: rgba($color-primary, .8);
    }
  }
}
