.header {
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  position: relative;
}

.header__img {
  max-width: 40px;
  max-height: 40px;
}

.header__title {
  position: absolute;
	top: 50%;
  transform: translateY(-50%);
  left: 100%;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, .7);
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

@media (min-width: 768px) {
  .header__nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
}