.page {
  &__inner {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
      & {
        max-width: 500px;
      }
    }
    
    @media (min-width: 768px) {
      & {
        max-width: 700px;
      }
    }
    
    @media (min-width: 992px) {
      & {
        max-width: 920px;
      }
    }
    
    @media (min-width: 1200px) {
      & {
        max-width: 1100px;
      }
    }
  }

  &--center {
    text-align: center;
  }

  &__bg-dark {
    background-color: #27353b;
  }
  
  &__bg_theme::before {
    content: '';
    @include overlay;
    background-color: rgba(120, 88, 221, .8);
    z-index: -1;
  }
  
  &__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

}