.bar-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	height: 16px;
	width: 30px;  
	  	
	&__line {
		position: absolute;
		height: 3px;
		border-radius: 10px;
		width: 100%;
		display: block;
		background-color: #fff; 
	}
	
	&__line:first-child {
		top: 0;
	}
	
	&__line:nth-child(2) {
		top: 50%;
	}
	
	&__line:last-child {
		top: 100%;
	}
	
	@media (min-width: 768px) {
		& {
			display: none;
		}
	}
}
