.box {
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(195, 195, 195);

  &__title {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
  }
  
  &__text {
    line-height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  &__progress {
    margin-top: .5rem;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  &__porcent {
    display: block;
    width: 80%;
    height: 8px;
    border-radius: 5px;
    background-color: #c99aff;

    &--w-90 {
      width: 90%;
    }

    &--w-70 {
      width: 70%;
    }

    &--bg-primary {
      background-color: #7fb7fa;
    }
    
    &--bg-secondary {
      background-color: #ffac1b;
    }
  }
  
}
