.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: .9rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;

  &--size_sm {
    padding: .5rem 1rem;
  }
  
  &--size_md {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  &--text_primary {
    color: $color-primary;
  }
  
  &--text_white {
    color: #fff;
  }
  
  &--bg_primary {
    background-color: $color-primary;
  }
  
  &:hover {
    color: rgba(0, 0, 0, .7);
  }
  
  &__hover:hover, &--on {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }
}
