.overlay {
  @include overlay;
  opacity: 0;    
  border-radius: 10px;
  background-color: rgba($color-primary, .7);
  transition: .3s ease-in-out;    
  
  &__text {
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .5px;
  }
  
  &:hover {
    opacity: 1;
  }
}