.blog {
  &__itens {
    padding: 0;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__content {
    padding: 1rem;
    line-height: 1.5rem;
  }

  &__title {
    display: inline-block;
    margin-bottom: 1rem;
    color: #273f59;
  }

  &__more {
    text-transform: uppercase;
    color: $color-primary;
  }

  &__time {
    padding: 0 25%;
  }

  &__comments {
    margin-left: .5rem;
  }
}